{% extends 'MyInventoryApp/base.html' %}
{% load static %}

{% block sidebar %} 
<div class="d-flex flex-column gap-2 mt-2">  
    <a href="{% url 'add_bottles' %}" style="color:black">Add Water Bottle</a>
    <a href="{% url 'manage_account' pk=account_id %}" style="color:black">Manage Account</a>
    <a href="{% url 'logout' %}" style="color:black">Logout</a>
</div>     
{% endblock %}

{% block content %}
<div class="col-12">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="table-dark" scope="col"> Name </th>
                <th class="table-dark" scope="col"> City </th>
                <th class="table-dark" scope="col"> Country </th>
            </tr>
        </thead>
        <tbody>
            {% for s in suppliers %}
            <tr>
                <td><a href="{% url 'view_bottles' %}"> {{ s.name }} </a></td>
                <td> {{ s.city }} </td>
                <td> {{ s.country }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}